:root {
    --background: #FFD100;
    --accents: #A31621;
    --dark: #4A3C01;
    --highlight: #FAE392;
    --background2: #E0E0E0;
    --back: rgb(59, 35, 0);
    --back2: hsl(38, 39%, 38%);
    --foredark: hsla(0,0%,10%,1);
    --forelight: hsla(0,0%,100%,1);
    --border: hsla(0,0%,20%,.8);
    --borderlight: hsla(0,0%,33%,.3);
    --shadow: hsl(0,0%,50%);
    --zebra: hsl(0, 0%, 93%, 1);
}


/*---UNIVERSAL STYLES FOR HEADER AND FOOTER----*/

header,
footer {
    background-color: #FFD100;    
    justify-content: center;
    align-items: center;
}
header {
    display: grid;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    grid-template-columns: 1fr 3fr 1fr 1fr
}
header h2 {
    margin-top: 0;
    font-size: 3.5vw;
    color: #a31621;
}
header h1 {
    margin-bottom: 0;
    font-size: 4.5vw;
}
footer {
    text-align: center;
    padding: 10px;
}
footer p {
    margin: 0;
}
.seps {
    display: none;
}
.logo img {
    width: 100%;
}
.socials {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}
.socials img {
    width: 100%;
}
#burger {
    height: 100%;
    width: 100%;
    background: #FFD100;
    font-size: 2rem;
}
#burger:hover {
    cursor: pointer;
}
#burger::before {
    content: "☰";
}
#burger.open::before{
    content: "✖";
}
#topnav {
    grid-column: 1 / span 4;
    margin-top: 0;
    margin-bottom: 0;
    background: #4A3C01;
    padding: 0;
    text-align: center;
    display: none;
}
#topnav a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    width: 100%;
}
#topnav a:hover{
    color: #FAE392;
    font-weight: bold;
}
#topnav.open {
    display: grid;
}
#topnav .active {
    background-color: #FAE392;
    color: black;
}
#topnav .active:hover {
    color:black;
}


footer .copyright {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px black solid;
}
footer .bottomlogo h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}
footer .bottomlogo h4 {
    padding-top: 0;
    margin-top: 0;
}



/*----UNIVERSAL STYLES FOR FONTS AND CONSTANTS----*/

p, ul, li, nav{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0rem 1rem 1rem 1rem;
    font-family: sans-serif;
}


/*----STYLES FOR index.html----*/

.hero-image {
    margin-top: 0;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image img {
    width: 100%;
}
.hero-text {
    text-align: right;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: black;
    background-color: #FAE392;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    border: #a31621 solid 3px;
    font-size: 1.5rem;
}
.hero-text button:hover {
    background-color: black;
    color: #FAE392;
}

main section {
    background: #E0E0E0;
    border: solid 1px #4A3C01;
    border-radius:2%;
    margin: 10px;
}

main section h2 {
    text-align: center;
    background:#FFD100;
    margin: 0;
    padding: 1rem;
}

main section img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

main section h3,h4,p {
    padding: 0 15px;
}

#chamber .event img {
    width: 200px;
    height: auto;
    padding: 10px;
}

#chamber .event {
    text-align: center;
}

.spotlight {
    background: none;
    border: none;
    display: grid;
    grid-gap: 10px;
}
.spotlight div {
    background: #FAE392;
    border-radius: 20px;
    text-align: center;
}
.spotlight div h3 {
    color: #a31621;
    text-align: center;
}
.spotlight img {
    width: 50%;
}



/*---STYLES FOR discover.html ---*/

#discover .news {
    text-align: center;
}

#discover .join button {
    width: 95%;
    font-size: 2rem;
    background-color: var(--accents);
    text-align: center;
    color: var(--highlight);
    border-radius: 10px;
    margin: 5px;
}
#discover .join button:hover{
    cursor: pointer;
    background-color: var(--highlight);
    color: var(--accents);
}
#discover .join {
    text-align: center;
}

#discover .calendar iframe {
    width: 100%;
}

#discover .event {
    text-align: center;
}
#discover .event img{
    width: 60%;
}

#discover .poi {
    padding: 10px;
    border: solid 1px #4A3C01;
    background-color: #4a3b015a;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#discover .poi picture img {
    width: 100%;
    height: auto;
}
#discover .poi picture {
    display:block;
}
.poi span {
    background-color:#FAE392;
    padding: 5px;
}



/*----------STYLES FOR join.html--------------*/
#join h2 {
    text-align: center;
}

/*FORM*/
form fieldset {
    margin: 1.5rem;
    border: 2px dotted var(--accents);
    border-radius: 15px;
    padding: 1rem 15% 1rem 1rem;
}
form legend {
    color: var(--highlight);
    background-color: var(--dark);
    margin: 0 1rem;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--accents);
    font-size: .8rem;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}
form label.sbs {
    display: block;
    padding: 0.75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: var(--accents);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem 1.5rem;
    margin: 0 0 2rem 10%;
    width: 85%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}
form textarea {
    width: 100%;
}



/*TABLE*/
table {
	margin: 10px auto;
	border: thin solid var(--border);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--back);
	font-size: .85rem;
}

tr:first-child th, .highlight {
	background-color: var(--background);
	color: var(--accents);
    border: none;
    font-family: 'Roboto', sans-serif;;
    font-size: 4vw;
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
    font-size: 2.5vw;
    padding: 1rem;
}
th.nonp {
    background-color: silver;
    color: black;
}
th.bronze {
    background-color: burlywood;
    color: black;
}
th.silver {
    background-color: var(--background2);
    color: black;
}
th.gold {
    background-color: gold;
    color: black;
}

td {
	text-align: center;
    font-size: 2vw;
}

tbody tr:nth-child(odd) {
	background-color: var(--zebra);
}
tbody td:first-child {
    font-weight: bold;
}

/*---thankyou.html----*/
#thankyou img{
    width: 100%;
}
#thankyou h2 {
    text-align: center;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*--------directory.html---------------*/
#directory .menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

#directory .menu button {
	padding: 1rem;
	font-weight: 700;
}

#directory section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

#directory .grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

#directory .grid section {
	text-align: center;
}

#directory .grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

#directory .grid section > * {
	margin: 0.1rem;
}

#directory .grid h3 {
	font-family: "Caveat", cursive;
}

#directory .list {
	display: flex;
	flex-direction: column;
}

#directory .list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

#directory .list section > * {
	margin: 0 1rem;
}

#directory .list section img {
	display: none; /* smaller viewports only */
}

#directory .list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

#directory .list section:nth-child(even) {
	background-color: #bed;
}

#directory section h3 {
	font-size: 1.5rem;
}

#directory section p {
	font-weight: 600;
	font-size: smaller;
}

#directory section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

#directory img {
	height: 75px;
	max-width: 100%; /* Images are jerks - Seattle*/
}
