:root {
    --background: #FFD100;
    --accents: #A31621;
    --dark: #4A3C01;
    --highlight: #FAE392;
    --background2: #E0E0E0;
}


/*---UNIVERSAL STYLES FOR HEADER AND FOOTER----*/

header,
footer {
    background-color: #FFD100;    
    justify-content: center;
    align-items: center;
}
header {
    display: grid;
    height: auto;
    margin-bottom: 0;
    margin-top: 0;
    grid-template-columns: 1fr 3fr 1fr 1fr
}
header h2 {
    margin-top: 0;
    font-size: 3.5vw;
    color: #a31621;
}
header h1 {
    margin-bottom: 0;
    font-size: 4.5vw;
}
footer {
    text-align: center;
    padding: 10px;
}
footer p {
    margin: 0;
}
.seps {
    display: none;
}
.logo img {
    width: 100%;
}
.socials {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    grid-gap: 10px;
}
.socials img {
    width: 100%;
}
#burger {
    height: 100%;
    width: 100%;
    background: #FFD100;
    font-size: 2rem;
}
#burger:hover {
    cursor: pointer;
}
#burger::before {
    content: "☰";
}
#burger.open::before{
    content: "✖";
}
#topnav {
    grid-column: 1 / span 4;
    margin-top: 0;
    margin-bottom: 0;
    background: #4A3C01;
    padding: 0;
    text-align: center;
    display: none;
}
#topnav a{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    width: 100%;
}
#topnav a:hover{
    color: #FAE392;
    font-weight: bold;
}
#topnav.open {
    display: grid;
}
#topnav .active {
    background-color: #FAE392;
    color: black;
}
#topnav .active:hover {
    color:black;
}


footer .copyright {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px black solid;
}
footer .bottomlogo h3 {
    padding-bottom: 0;
    margin-bottom: 0;
}
footer .bottomlogo h4 {
    padding-top: 0;
    margin-top: 0;
}



/*----UNIVERSAL STYLES FOR FONTS AND CONSTANTS----*/

p, ul, li, nav{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0rem 1rem 1rem 1rem;
    font-family: sans-serif;
}


/*----STYLES FOR index.html----*/

.hero-image {
    margin-top: 0;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-image img {
    width: 100%;
}
.hero-text {
    text-align: right;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: black;
    background-color: #FAE392;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
    border: #a31621 solid 3px;
    font-size: 1.5rem;
}
.hero-text button:hover {
    background-color: black;
    color: #FAE392;
}

main section {
    background: #E0E0E0;
    border: solid 1px #4A3C01;
    border-radius:2%;
    margin: 10px;
}

main section h2 {
    text-align: center;
    background:#FFD100;
    margin: 0;
    padding: 1rem;
}

main section img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

main section h3,h4,p {
    padding: 0 15px;
}

#chamber .event img {
    width: 200px;
    height: auto;
    padding: 10px;
}

#chamber .event {
    text-align: center;
}

.spotlight {
    background: none;
    border: none;
    display: grid;
    grid-gap: 10px;
}
.spotlight div {
    background: #FAE392;
    border-radius: 20px;
    text-align: center;
}
.spotlight div h3 {
    color: #a31621;
    text-align: center;
}
.spotlight img {
    width: 50%;
}



/*---STYLES FOR discover.html ---*/

#discover .news {
    text-align: center;
}

#discover .join button {
    width: 95%;
    font-size: 2rem;
    background-color: var(--accents);
    text-align: center;
    color: var(--highlight);
    border-radius: 10px;
    margin: 5px;
}
#discover .join button:hover{
    cursor: pointer;
    background-color: var(--highlight);
    color: var(--accents);
}
#discover .join {
    text-align: center;
}

#discover .calendar iframe {
    width: 100%;
}

#discover .event {
    text-align: center;
}
#discover .event img{
    width: 60%;
}

#discover .poi {
    padding: 10px;
    border: solid 1px #4A3C01;
    background-color: #4a3b015a;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}
#discover .poi picture img {
    width: 100%;
    height: auto;
}
#discover .poi picture {
    display:block;
}
.poi span {
    background-color:#FAE392;
    padding: 5px;
}
