@media screen and (min-width:640px) {
    header {
        grid-template-columns: 1fr 2fr 1fr 5fr
    }
    #burger {
        display: none;
    }
    #topnav {
        display: block;
        grid-column: 4;
        grid-row: 1;
        padding: 20px 0;
    }
    #topnav a {
        border-left: 2px solid #FAE392;
        padding: 5px;
    }
    #topnav a:nth-child(4) {
        border-right: 2px solid #FAE392;
    }

    header h2 {
        font-size: 1.2rem;
    }
    header h1 {
        font-size: 1.6rem;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .hero-image {
        grid-column: 1 / span 4;
    }
    #chamber .event {
        grid-column: 1 / span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #chamber .event h2 {
        grid-column: 1 / span 3;
    }
    #chamber .event div {
        text-align: center;
    }

    .spotlight {
        grid-column: 1 / span 4;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .spotlight h2 {
        grid-column: 1 / span 4;
    }
    main .poi {
        grid-column: 2 / span 3;
    }
    .poi span {
        position: absolute;
        left: 35%;
        text-align: left;
        font-size: 1.5em;
        transition: 0.5s ease;
        font-weight: bold;
        padding: 5px;
    }
    .poi picture:hover span {
        font-size: 1em;
        transition: 0.5s ease;
        background-color:#fae392c0;
    }
    .poi picture:hover img {
        filter: blur(0em);
        transition: 0.2s ease;
    }
    .poi img{
        filter: blur(0.2em);
        transition: 0.2s ease;
    }
    .poi picture {
        max-height: 200px;
        overflow: hidden;
        transition: 0.2 ease;
    }
    .poi picture:hover {
        max-height: 500px;
        transition: 0.2 ease;
    }

    footer .copyright .seps {
        display: flex;
    }
    footer .copyright {
        display: flex;
        border-top: 1px black solid;
        font-size: 0.8rem;
    }
    footer .footermain{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer .address {
        padding-left: 50%;
        padding-top: 5%;
    }
    footer .bottomlogo {
        padding-right: 3    0%;
    }

}